html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

.video-row {
  height: 120px;
}

.thumbnail {
  height: 100%;
}

.thumbnail > img {
  height: 100%;
  width: 150px;
  float: left;
}

.video-info {
  height: 100%;
  width: calc(100% - 150px); /*TODO: this is not exactly correct*/
  display: inline-block;
  margin-left: 10px;
}



